python-dotenv==1.0.1
llama-index==0.12.23
llama-index-core==0.12.23.post2
google-generativeai==0.8.4
google-genai==1.11.0
llama-index-llms-openai==0.3.25
llama-index-llms-gemini==0.4.11
llama-index-llms-anthropic==0.6.10
fastapi==0.112.2
colorama==0.4.6
streamlit==1.39.0
tavily-python==0.5.1
uvicorn
geopy==2.4.1
fastembed==0.6.1
qdrant_client==1.13.3 
PyMuPDF==1.25.5
html2text==2024.2.26
openpyxl==3.1.5
python-docx==1.1.2
theflow==0.8.6
langchain-community==0.3.21
arxiv==2.2.0
wikipedia==1.4.0
SpeechRecognition==3.14.2
pydub==0.25.1
magika==0.6.1
llama-index-readers-json==0.3.0
markdownify==1.1.0
extract_msg==0.54.1